---
import EntropicLogo from "../components/EntropicLogo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-screen h-screen flex flex-col justify-center items-center">
    <a href="/">
      <EntropicLogo classes="h-36 w-36 m-4" />
    </a>
    <div class="flex items-center px-12">
      <p class="text-lg max-w-2xl">
        The Entropic Labs Ethos is that high-quality tools should be open, and
        uncompromised by greed and profit incentives, focusing solely on user
        and developer experience. Our tools aim to follow this philosophy as
        best as possible.
      </p>
    </div>
  </div>
</MainLayout>